{% extends 'base.html' %} 

{% block content %}
<h1 class="display-1">User Display</h1>
<p class="lead">Update user info</p>
<form method="POST">
    {{form.hidden_tag() }}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_="form-control")}}

            
            {% for error in field.errors %}
            <p class="form-text text-danger">
            {{error}}</p>
            {% endfor %}
        </p>
        {% endfor %}

        <button class="btn btn-success" type="Update">Update User</button>
        
      
</form>
<form method="POST" action="/users/{{user.username}}/delete">
    <input type="hidden"><button class="btn btn-danger">Delete user</button>
</form>

<a href='/users/{{user.username}}/feedback/add'> <br><br>
    <button class="btn btn-success">Add Feedback</button></a>

    <h3>{{session['fn']}}'s Posted Feedback</h3>
    
    <ul>
        {% for post in posts%}
        <li>Title: {{post.title}}<br> Feedback: {{post.content}}  <a href='/feedback/{{post.id}}/delete' method="POST"><i class="bi bi-trash3-fill"></i></a> <a href='/feedback/{{post.id}}/update'><i class="bi bi-pencil"></i> </a>  </li>
      <br>  {% endfor %}
    </ul>
      
{% endblock %}